# Fichiers système
.DS_Store
Thumbs.db
desktop.ini

# Dossiers d'éditeurs et d'IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Dossiers de modules et dépendances
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json

# Fichiers de build et de distribution
dist/
build/
*.zip
*.tar.gz

# Fichiers temporaires
.tmp/
.temp/
*.log
*.tmp

# Fichiers d'environnement et de configuration
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Fichiers de cache
.cache/
.parcel-cache/

# Autres
*.bak
*.swp